html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

a {
  color: #f9f9f9;
  text-decoration: none;
}
